
.custombtn { 
    background-color:blueviolet;
    color:white;
    margin-left:20%;
}

.scorebtn{
    
    background-color:blueviolet;
    display:flex;
}


.hide[data-state="hidden"] {
    display:none !important;
}

  
  .card[data-state="visible"] {
    display: block !important;
  }